body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    float: left;
    margin-left: 2%;
}

header nav {
    float: right;
    margin-right: 2%;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background-image: url('/pictures/Hero\ section1.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#services {
    background: #f4f4f4;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

#services article {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 600px) {
    header h1, header nav {
        float: none;
        text-align: center;
        margin: 10px 0;
    }

    header nav ul li {
        display: block;
        margin-top: 5px;
    }
}
