body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    float: left;
    margin-left: 2%;
}

header nav {
    float: right;
    margin-right: 2%;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;
}

#hero {
    background-image: url('/pictures/Hero\ section1.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2em;
    max-width: 600px;
    margin:auto
}

#services {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background: #f4f4f4;
}

#services article {
    width: 30%;
    padding: 20%;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    header nav ul li {
        display: block;
        padding: 5px 0;
    }

    #services {
        flex-direction: column;
    }

    #services article {
        width: 100%;
        margin-bottom: 20px;
    }
}